body {
    background-color: darkgray;
}
h1{
    text-align: center;
    vertical-align: auto;
}

.label-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

/* テーブル (本文内)のレイアウト */
main table {
    /* テーブルの上下余白 (ボックス外)を20px、 左右余白 (ボックス外)を40pxに設定 */
    margin: 20px 40px;
    /* 隣接するセルのボーダーを重ねて表示する設定 */
    border-collapse: collapse;
    /* カラム数が少なくてもテーブル幅を最大に保つため テーブルの幅を (本文全体-左右余白 (80px))に設定 */
    width: calc(100% - 80px);
}

main table th,
main table td {
    /* テーブルの枠線を設定 */
    border: solid 1px black;
    /* テキストの位置を上下中央揃えに設定 */
    text-align: left;
    vertical-align: center;
}

main table th {
    /* 文字の色 */
    color: white;
    /* 背景 */
    background-color: rgb(67, 67, 248);
}

main table td {
    /* テーブルのタイトル行の上下余白 (ボックス内)を5px、 左右余白 (ボックス内)を50pxに設定 */
    padding: 1px 3px;
    /* テーブルの各行の上下余白 (ボックス内)を15px、 左右余白 (ボックス内)を20pxに設定 */
    padding: 1px 3px;
    /* 文字の色 */
    color: black;

}

.emphasisColor {
    /* 背景 */
    background-color: rgb(177, 95, 121);
}

.nonEmphasisColor {
    /* 背景 */
    background: #5c8ee5;
}