/* テーブル (本文内)のレイアウト */
main table {
    /* テーブルの上下余白 (ボックス外)を20px、 左右余白 (ボックス外)を40pxに設定 */
    margin: 20px 40px;
    /* 隣接するセルのボーダーを重ねて表示する設定 */
    border-collapse: collapse;
    /* カラム数が少なくてもテーブル幅を最大に保つため テーブルの幅を (本文全体-左右余白 (80px))に設定 */
    width: calc(100% - 80px);
}

main table th, main table td {
    /* テーブルの枠線を設定 */
    border: solid 1px black;
    /* テキストの位置を上下中央揃えに設定 */
    text-align: left;
    vertical-align: center;
}

main table th {
    /* テーブルのタイトル行の上下余白 (ボックス内)を5px、 左右余白 (ボックス内)を50pxに設定 */
    padding: 1px 3px;
    /* 背景色を紺、文字色を白に設定 */
    background: #000066;
    color: white;
}

main table td {
    /* テーブルの各行の上下余白 (ボックス内)を15px、 左右余白 (ボックス内)を20pxに設定 */
    padding: 1px 3px;
    /* 背景色を薄い青に設定 */
    background: #8EB8FF;
}
