<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/diary.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <script th:src="@{/js/diary.js}"></script>
    <title>日々の記録</title>
</head>

<body>
    <header>
        <h1>日々の記録</h1>
    </header>
    <form action="/insert" method="POST">
        <!-- 入力フォーム -->
        <label for="mainString">内容:</label>
        <input type="text" id="name" name="mainString" required minlength="1" maxlength="200" size="100" />
        <p></p>
        <!-- リストボックス -->
        <label>項目:</label>
        <select name="tagType">
            <option th:each="tagType : ${tagTypes}" th:value="${tagType}" th:text="${tagType.value}"></option>
        </select>
        <!-- ドロップダウンメニュー -->
        <label>強調表示:</label>
        <select name="emphasis">
            <option value=0>強調無し</option>
            <option value=1>強調表示</option>
        </select>
        <input type="submit" value="送信する">
    </form>
    <main>
        <label class="label-right">直近30日を表示</label>
        <table>
            <tr>
                <th>項目</th>
                <th>内容</th>
                <th>日時</th>
                <th>編集</th>
                <th>削除</th>
            </tr>

            <tbody>
                <tr th:each="sample : ${samples}" th:class="${sample.emphasis == 1} ? 'emphasisColor' : 'nonEmphasisColor'">
                    
                        <td th:text="${sample.tagType.getValue()}"></td>
                        <td th:text="${sample.mainString}"></td>
                        <td th:text="${sample.getFormattedDateTime()}"></td>
                        <td>
                            <a th:href="@{/edit/{Id}(Id=${sample.Id})}">編集</a>
                        </td>
                        <td>
                            <button th:sample-id="${sample.Id}" onclick="deleteConfirm(this.getAttribute('sample-id'))">削除</button>
                        </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>